@layer components {
  .footer {
    --lineHeightBody: 1.1;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
    padding: var(--space3XL) var(--spaceL);
    z-index: var(--zIndex2);
    position: relative;
    color: var(--textLight);
  }

  .link {
    display: inline-flex;
  }

  .date {
    display: inline-flex;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spaceS) var(--spaceL);
  }

  .linkGroup {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spaceM);
  }

  .separator {
    color: color-mix(in lab, var(--textLight) 55%, transparent);
    display: inline-flex;
  }

  @media (--mediaMobile) {
    .footer {
      width: 100%;
      padding-right: var(--spaceM);
      padding-left: var(--spaceM);
    }

    .text {
      flex-direction: column;
      gap: var(--spaceS);
    }

    .linkGroup {
      justify-content: center;
      gap: var(--spaceS);
    }
  }
}
