@layer components {
  .monogram {
    display: inline-flex;
    width: 48px;
    height: 45px;
    position: relative;
    flex-shrink: 0;
  }

  .image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .image[data-theme='dark'] {
    display: block;
  }

  .image[data-theme='light'] {
    display: none;
  }

  :global([data-theme='light']) .image[data-theme='dark'] {
    display: none;
  }

  :global([data-theme='light']) .image[data-theme='light'] {
    display: block;
  }
}
